<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>ABS - Início</title>
  <script>
    document.documentElement.className += ' js';
  </script>
</head>

<body>
  <div class="estrutura">
    <header class="header">
      <a href="#" class="logo"><img src="/img/logo-advocacia-pro200.png" alt=""></a>

      <ul class="social-list">
        <li>
          <a href="#"><img src="/img/icones/facebook-logo.png" /></a>
        </li>
        <li>
          <a href="#"><img src="/img/icones/twitter-logo.png" /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/nicolasbarroso/ " target="_blank" rel="external"><img
              src="/img/icones/linkedin-logo.png" /></a>
        </li>
      </ul>

      <nav>
        <ul>
          <li><a href="#intro">InÍcio</a></li>
          <li><a href="#location">Escritório</a></li>
          <li><a href="consultar">Consultar</a></li>
          <li><a href="cadastro">Cadastro</a></li>
          <li><a href="calculo">Cálculo de Pena</a></li>
        </ul>
      </nav>
    </header>

    <section class="intro" id="intro">
      <div class="intro-contato">
        <a href="#"><img src="/img/icones/email-.png" />nicolaslincoln45@hotmail.com</a>
        <a href="#"><img src="/img/icones/phone.png" />(61)99929-1910</a>
      </div>
    </section>


    <main class="conteudo" id="conteudo">
      <section class="container">
        <div class="circulo">
          <div class="circle-img">
            <img src="/img/list-cont.png" />
          </div>
          <h1>DESTAQUES</h1>
          <div class="balao">
            <p>
              A Barroso & Silva Advocacia é uma firma renomada, composta por advogados experientes e comprometidos em
              fornecer serviços jurídicos de qualidade. Com um histórico sólido e uma reputação impecável, a firma se
              destaca em diversas áreas do direito, oferecendo soluções jurídicas eficientes e personalizadas para seus
              clientes.
            </p>
          </div>
        </div>
        <div class="circulo">
          <div class="circle-img">
            <img src="/img/alarm-cont.png" />
          </div>
          <h1>ATENDIMENTO</h1>
          <div class="balao-h">
            <p>
              Segunda-feira 09:00 – 18:00<br />
              Terça-feira 09:00 – 18:00<br />
              Quarta-feira 09:00 – 18:00<br />
              Quinta-feira 09:00 – 18:00<br />
              Sexta-feira 09:00 – 18:00<br />
              Sábado Fechado<br />
            </p>
          </div>
        </div>
        <div class="circulo">
          <div class="circle-img">
            <img src="/img/star-cont.png" />
          </div>
          <h1>VITÓRIAS</h1>
          <div class="balao">
            <p>
              A Barroso & Silva Advocacia é reconhecida não apenas por sua experiência e conhecimento jurídico, mas
              também por sua abordagem dedicada e compromisso em alcançar vitórias significativas para seus clientes. A
              firma se orgulha de seu histórico de sucessos e da maneira como lida com cada conquista.
            </p>
          </div>
        </div>
      </section>
    </main>

    <section class="servicos" id="servicos">

      <div class="servicos-titulo">
        <h1 class="servicos-titulo">Serviços</h1>
      </div>

      <div class="servicos-show">
        <div class="servicos-logo">
          <img src="/img/servico-logo-700x500.png" alt="">
        </div>

        <div class="container-2">
          <div class="circulo-2">
            <h1>Direito Penal</h1>
            <img src="/img/servicos-id.png" />
          </div>
          <div class="circulo-2">
            <h1>Direito do Consumidor</h1>
            <img src="/img/servicos-usuario.png" />
          </div>
          <div class="circulo-2">
            <h1>Direito Civil</h1>
            <img src="/img/servicos-consi.png" />
          </div>
          <div class="circulo-2">
            <h1>Contratos</h1>
            <img src="/img/servicos-documento.png" />
          </div>
        </div>
      </div>
    </section>

    <section class="profissionais" id="profissionais">

      <div class="profissionais-titulo">
        <h1>Profissionais</h1>
      </div>

      <ul class="profissionais-lista js-tabmenu">
        <li>
          <img src="/img/Perfils/Nicolas-Lincoln-Perfil200x253.jpeg" />
        </li>
        <li>
          <img src="/img/Perfils/Luciene-Moreira-Perfil200x253.jpeg" />
        </li>
        <li>
          <img src="/img/Perfils/Davi-Perfil250x253.jpeg" />
        </li>
      </ul>

      <div class="profissionais-descricao js-tabcontent">
        <section class="descricao">
          <h2>Nicolas Lincoln Silva Barroso</h2>
          <p>"Nicolas Lincoln é um advogado especializado em Direito Penal, com ampla experiência na área. Com uma
            abordagem estratégica e compromisso com a justiça, ele oferece serviços jurídicos de alta qualidade para
            seus clientes. Nicolas tem conhecimento aprofundado do sistema jurídico penal e das leis que regem os
            crimes. Ele representa clientes em uma variedade de casos, incluindo crimes contra a pessoa, crimes contra o
            patrimônio, crimes ambientais, crimes de colarinho branco e muito mais.</p>
          <p>Sua expertise em Direito Penal permite que Nicolas analise minuciosamente os casos, avaliando evidências,
            identificando questões legais relevantes e desenvolvendo estratégias eficazes de defesa. Ele está
            comprometido em garantir que os direitos de seus clientes sejam protegidos e que recebam um julgamento
            justo. Nicolas atua em todas as etapas do processo criminal, desde a fase de investigação até a
            representação em julgamentos e recursos. Ele tem habilidades excepcionais de argumentação e negociação, e
            trabalha incansavelmente para obter os melhores resultados para seus clientes, seja por meio de absolvição,
            redução de pena ou outros meios legais.</p>
          <p>Além de sua atuação nos tribunais, Nicolas também presta serviços de consultoria em assuntos relacionados
            ao Direito Penal. Ele oferece aconselhamento jurídico preventivo a indivíduos e empresas, auxiliando-os a
            compreender e cumprir as leis penais, evitando problemas legais futuros.</p>
          <p>Nicolas é um profissional comprometido com a atualização constante em sua área. Ele acompanha de perto as
            mudanças na legislação penal e participa regularmente de cursos e seminários para aprimorar seus
            conhecimentos. Sua dedicação à excelência jurídica e sua ética profissional impecável o tornam um advogado
            de confiança e respeitado na área do Direito Penal."</p>

        </section>
        <section>
          <h2>Luciene Moreira</h2>
          <p>"Luciene Moreira é uma advogada especializada em Direito do Trabalho, com ampla experiência na área.
            Com dedicação e conhecimento aprofundado das leis trabalhistas, ela oferece serviços jurídicos
            de qualidade tanto para trabalhadores quanto para empregadores.</p>
          <p>Luciene possui expertise na resolução de questões trabalhistas complexas, atuando em casos de
            demissões injustas, assédio
            no ambiente de trabalho, não pagamento de salários, horas extras não
            remuneradas, discriminação e violações dos direitos trabalhistas em geral.</p>
          <p>Como defensora dos direitos dos trabalhadores, Luciene oferece orientação legal para negociação de acordos
            coletivos, representação em processos de rescisão de contratos de trabalho, busca de indenizações e
            compensações,
            além de tratar de questões
            relacionadas a benefícios trabalhistas, como FGTS, férias e 13º salário.</p>
          <p>Luciene também presta serviços para empregadores, auxiliando na elaboração e revisão de contratos de
            trabalho, políticas internas, garantindo o cumprimento das obrigações trabalhistas, prevenção de litígios e
            representação perante órgãos competentes, como o Ministério do Trabalho e a Justiça do Trabalho</p>
          <p>Além de sua prática jurídica, Luciene mantém-se atualizada sobre as constantes mudanças nas leis
            trabalhistas, participando regularmente de cursos, seminários e eventos relacionados à área. Sua paixão pelo
            Direito do Trabalho e seu compromisso com a justiça garantem um serviço jurídico de qualidade e confiança
            para seus clientes."</p>

        </section>
        <section>
          <h2>Davi Rodrigues Aguiar</h2>
          <p>"Davi Aguiar é um advogado altamente qualificado e experiente na área do Direito Civil.
            Com uma carreira de sucesso de mais de 10 anos , ele se estabeleceu como um profissional
            confiável e dedicado a oferecer serviços jurídicos de alta qualidade aos seus clientes.</p>
          <p>Sua especialização no Direito Civil permite-lhe lidar com uma ampla gama de casos, incluindo
            responsabilidade civil, contratos, direitos do consumidor, direitos de propriedade, questões
            de família, sucessões e muito mais.</p>
          <p>Ao longo de sua carreira, Davi lidou com casos complexos de responsabilidade civil, como acidentes
            automobilísticos e negligência médica,
            buscando compensação adequada para seus clientes. Ele também oferece assessoria jurídica especializada em
            questões
            contratuais, revisando e elaborando contratos para garantir que os direitos e obrigações de seus
            clientes sejam devidamente protegidos.</p>
          <p>Além disso, Davi tem ampla experiência em direitos do consumidor, auxiliando clientes em
            casos de práticas comerciais
            desleais, produtos defeituosos e direitos de arrependimento. Ele se dedica a defender
            os interesses dos consumidores e garantir que seus direitos sejam respeitados. Em questões de propriedade,
            Davi tem atuado na resolução de disputas relacionadas a direitos de propriedade, como disputas de
            vizinhança, servidão, usucapião e registro de imóveis. Sua expertise em direito de família também o permite
            auxiliar clientes em divórcios, guarda de crianças, pensão alimentícia e partilha de bens, com uma abordagem
            compassiva e voltada para a resolução amigável, quando possível.</p>
          <p>Davi Aguiar valoriza o atendimento personalizado e a comunicação transparente com seus clientes. Ele se
            esforça para entender profundamente suas necessidades e objetivos, oferecendo soluções jurídicas adaptadas a
            cada caso específico. Sua dedicação em obter resultados positivos, combinada com suas habilidades analíticas
            e argumentativas, o tornam um advogado confiável e eficiente na defesa dos interesses de seus clientes no
            âmbito do Direito Civil."</p>
        </section>
      </div>
    </section>

    <section class="location" id="location">
      <div class="local">
        <li>
          <a href="https://goo.gl/maps/cXiGUjvqZ6Sq7iPV8" target="_blank" rel="external">
            <p>QNM 20 Conjunto L<br> Celândia Norte<br> Brasília/DF</p>
          </a>
        </li>
      </div>
    </section>

    <section class="assine">
      <div class="assine-container">
        <div class="assine-info">
          <h2>Assine Nossa Newsletter</h2>
          <p>promoções e eventos mensais</p>
        </div>

        <form method="POST" class="assine-form" action="/newsletter">
          <label>E-mail</label>
          <input name="email" type="text" placeholder="Digite seu e-mail" id="email">
          <button type="submit">Enviar</button>
        </form>
      </div>
    </section>


    <footer class="footer">
      <ul class="social-list-f">
        <li>
          <a href="#"><img src="/img/icones/facebook-logo.png" /></a>
        </li>
        <li>
          <a href="#"><img src="/img/icones/twitter-logo.png" /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/nicolasbarroso/ " target="_blank" rel="external"><img
              src="/img/icones/linkedin-logo.png" /></a>
        </li>
      </ul>

      <div class="direitos" id="direitos">
        <p>Advocacia Barroso & Silva</p>
        <p>Todos os direitos reservados</p>
        <p>Fale conosco: (61) 9 9929-1910</p>
      </div>
    </footer>
  </div>

  <script src="/js/main.js"></script>
  <script src="/js/conect.js"></script>
</body>

</html>