<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadLog.css">
    <title>ABS - Logar</title>
</head>

<body>

    <div class="estrutura">
        <header class="header">
            <a href="#" class="logo"><img src="/img/logo-advocacia-pro200.png" alt=""></a>

            <ul class="social-list">
                <li>
                    <a href="#"><img src="/img/icones/facebook-logo.png" /></a>
                </li>
                <li>
                    <a href="#"><img src="/img/icones/twitter-logo.png" /></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/nicolasbarroso/" target="_blank" rel="external"><img
                            src="/img/icones/linkedin-logo.png" /></a>
                </li>
            </ul>

        </header>


        <main class="conteudo">
            <div class="container">
                <form class="cadLog-form" id="form-login" method="POST" action="logar">
                    <h1>LOGIN</h1>

                    <label>CPF</label>
                    <input required="" maxlength="11" name="cpf"  type="text" placeholder="CPF" id="campoCPF" >

                    <label>SENHA</label>
                    <input required="" maxlength="20"  id="campoSenha" name="senha" type="password" placeholder="*****">

                    <button type="submit">ENVIAR</button>
                    <p>Não tem cadastro? <a href="/cadastro">Cadastre-se</a></p>
                </form>
                {{#if error}}
                <p>{{error}}</p>
                {{/if}}
            </div>
        </main>


        <footer class="footer">
            <ul class="social-list-f">
                <li>
                    <a href="#"><img src="/img/icones/facebook-logo.png" /></a>
                </li>
                <li>
                    <a href="#"><img src="/img/icones/twitter-logo.png" /></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/nicolasbarroso/" target="_blank" rel="external"><img
                            src="/img/icones/linkedin-logo.png" /></a>
                </li>
            </ul>

            <div class="direitos" id="direitos">
                <p>Advocacia Barroso & Silva</p>
                <p>Todos os direitos reservados</p>
                <p>Fale conosco: (61) 9 9929-1910</p>
            </div>
        </footer>


    </div>


     <script src="/js/rules.js"></script>
    <script src="/js/redirect.js"></script>
</body>

</html>